<html>
<body>
<h1>Pending Tests Module - Report</h1>

Harmful percentage of pending tests defined by user: <%= @percentage_user_input %>
<br><br>
Total of existing tests found: <%= @total_of_existing_tests %>
<br><br>
Total of pending tests found: <%= @total_of_pending_tests %>
<br><br>
Percentage of pending tests: <%= @percentage_of_pending_tests %>
<br><br>
</body>
</html>

