<html>
<body>
<h1>Indian Languages details</h1>
<table border="1">
<tr>
<th>Language</th>
<th>Family/Origin</th>
<th>No. of speakers</th>
<th>Region</th>
</tr>
<% @list_of_langauges.each do |item| %>
	<tr>
	<td><%= item.name %></td>
	<td><%=item.family %></td>
	<td><%=item.users %></td>
	<td><%=item.region %></td>
	</tr><% end %>
</table>
</body>
</html>

