<html>
<head>
<title>Cucumber Test Analyzer - Assertions Module</title>
<link rel="stylesheet" type="text/css" href="../public/style/global.css">
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
<h1>Assertions Module - Report</h1>
<br>
Maximum quantity of assertions by tests defined by user: 
<span class="number">
	<%= @quantity_of_assertions_user_input %>
</span>

<br><br>
Total of existing tests found: 
<span class="number">
	<%= @total_of_existing_tests %>
</span>

<br><br>
Total of assertions found: 
<span class="number">
	<%= @total_of_assertions %>
</span>

<br><br>
<% if @total_of_assertions > @total_of_existing_tests*3 %>
	<div class="result bad">	
	You should spend some time to review your test suite. It seems you have too many assertions!
	</div>
<% elsif @total_of_assertions < @total_of_existing_tests %>
	<div class="result bad">	
	You should spend some time to review your test suite. It seems you don't have at least one assertion per test scenario!	
	</div>
<% else %>
	<div class="result good">
	It seems your quantity of assertions per test is OK. Good work! ;)
	</div>
<% end %>
</body>
</html>

