<html>
	<head>
		<title>Cucumber Test Analyzer - Pending Tests Module</title>
		<link rel="stylesheet" type="text/css" href="../public/style/global.css">
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<h1>Pending Tests Module - Report</h1>
		<br>
		Harmful percentage of pending tests defined by user: 
		<span class="number">
			<%= @percentage_user_input %>
		</span>

		<br><br>
		Total of existing tests found: 
		<span class="number">	
			<%= @total_of_existing_tests %>
		</span>

		<br><br>
		Total of pending tests found: 
		<span class="number">
			<%= @total_of_pending_tests %>
		</span>

		<br><br>
		Percentage of pending tests: 
		<span class="number">
			<%= @percentage_of_pending_tests %>
		</span>

		<br><br>
		<% if @percentage_of_pending_tests > @percentage_user_input %>
			<div class="result bad">>
			You should spend some time to review your test suite. It seems you have too many pending tests!
			</div>
		<% else %>
			<div class="result good">
			It seems you don't have too many pending tests. Good work! ;)
			</div>
		<% end %>
	</body>
</html>

