<html>
	<head>
		<title>Cucumber Test Analyzer - Slow Tests Module</title>
		<link rel="stylesheet" type="text/css" href="../public/style/global.css">
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<h1>Slow Tests Module - Report</h1>
		
		<br>
		These are the execution time of your Test Scenarios. They are listed by slowness:
		
		<br><br>
		
		<% @scenarios_info.each do |scenario| %>
			<ul>
				<div class="result item">
					<li class="fui-file-24">Feature file: 
						<span class="number">
							<%= scenario[:feature_file] %> 
						</span>
					</li>
				</div>
				<br>
				<div class="result item">
					<li class="fui-location-24"><%= scenario[:scenario_name] %> 
						<span class="number">
							(line <%= scenario[:scenario_line] %>) 
						</span>
					</li>
				</div>
				<br>
				<div class="result item warning">
					<li class="fui-time-24">Execution time: 
						<span class="number">
							<%= scenario[:time] %> 
						</span>
					</li>
				</div>
			</ul>
		<br>
		<% end %>
	</body>
</html>

